.git
.github
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
phpunit.xml
readme.md
.dockerignore
Dockerfile
docker-compose.yaml
docker/
